<!DOCTYPE html>
<html>
<head>
  .container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  .container img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table{
    background-color: aqua;
    border-color: brown;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
tr:nth-child(even) {
    background-color: gold;
}
</head>
</html>